a:hover,a:focus{
    outline: none;
    text-decoration: none;
}

.tab{
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.tab .nav-tabs{
    display: flex;
    align-self: center;
    border-bottom: none;
    width: 100%;
    justify-content: center;

}

.tab .nav-tabs li{
    margin: 0;
}


.tab .nav-tabs li a{
    display: block;
    padding: 80px 20px 10px;
    font-size: 17px;
    font-weight: 700;
    color: #999;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #fff;
    margin-right: 0;
    overflow: hidden;
    z-index: 1;
    position: relative;
    transition: all 0.3s ease 0s;
}

.nav-link.active{
    background: none !important;
}

.tab .nav-tabs li a span{
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #f2f2f2;
    margin: auto;
    font-size: 22px;
    color: #999;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    transform: rotate(45deg);
}
.tab .nav-tabs li a.active span{
    background: linear-gradient(to right, #3931af, #00c6ff);
    color: #fff;
}
.tab .nav-tabs li a span i{
    transform: rotate(-45deg);
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li a:hover{
    color: #999;
    border: none;
    border-bottom: 2px solid #fff;
}
.tab .nav-tabs li.active a{
    border-bottom: 2px solid #3931af;
}
.tab .tab-content{
    padding: 20px;
    margin-top: -5px;
    font-size: 15px;
    color: #757575;
    line-height: 26px;
    text-align: left;
    border-top: 1px solid #e5e5e5;
}
.tab .tab-content h3{
    font-size: 24px;
    margin-top: 0;
}

.people-nearby .nearby-user{
    padding: 20px 0;
    border-top: 1px solid #f1f2f2;
    border-bottom: 1px solid #f1f2f2;
    margin-bottom: 20px;
}

img.profile-photo-lg{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

img.profile-photo-md {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.friend-list .friend-card{
    border-radius: 4px;
    border-bottom: 1px solid #f1f2f2;
    overflow: hidden;
    margin-bottom: 20px;
}

.friend-list .friend-card .card-info{
    padding: 0 20px 10px;
}

.friend-list .friend-card .card-info img.profile-photo-lg{
    margin-top: -60px;
    border: 7px solid #fff;
}

.profile-link{
    color: #0062cc !important;
    font-weight: bold;
}


.reqButton{
    margin: auto 0;
    height: 40px;
    margin-right: 10px;
}

.denyButton{
    background: firebrick !important;
    border: none;
    color: white !important;
}

img.profile-photo-lg {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.friendCoverFoto{
    vertical-align: middle;
    border-style: none;
    width: 400px;
    height: 100px;
}



textarea:focus,
input:focus {
    outline: 0;
}

input.question,
textarea.question {
    font-size: 48px;
    font-weight: 300;
    border-radius: 2px;
    margin: 0;
    border: none;
    width: 80%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden;
}

input.question + label,
textarea.question + label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 10%;
    border-top: 1px solid blue;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0px;
}

input.question:focus + label,
textarea.question:focus + label {
    width: 80%;
}

input.question:focus,
input.question:valid {
    padding-top: 35px;
}

textarea.question:valid,
textarea.question:focus {
    margin-top: 35px;
}

input.question:focus + label > span,
input.question:valid + label > span {
    top: -100px;
    font-size: 22px;
    color: #333;
}

textarea.question:focus + label > span,
textarea.question:valid + label > span {
    top: -150px;
    font-size: 22px;
    color: #333;
}

input.question:valid + label,
textarea.question:valid + label {
    border-color: blue;
}

input.question:invalid,
textarea.question:invalid {
    box-shadow: none;
}

input.question + label > span,
textarea.question + label > span {
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #8F8F8F;
    font-size: 48px;
    top: -66px;
    left: 0px;
    z-index: -1;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}


input[type="submit"] {
    -webkit-transition: opacity 0.2s ease, background 0.2s ease;
    transition: opacity 0.2s ease, background 0.2s ease;
    display: block;
    opacity: 0;
    margin: 10px 0 0 0;
    padding: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #2575fc;
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    background: -o-linear-gradient(left, #3931af, #00c6ff);
    background: -moz-linear-gradient(left, #3931af, #00c6ff);
    background: linear-gradient(left, #3931af, #00c6ff);
}

input[type="submit"]:active {
    background: #2575fc;
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    background: -o-linear-gradient(left, #3931af, #00c6ff);
    background: -moz-linear-gradient(left, #3931af, #00c6ff);
    background: linear-gradient(left, #3931af, #00c6ff);
}

input.question:valid ~ input[type="submit"], textarea.question:valid ~ input[type="submit"] {
    -webkit-animation: appear 1s forwards;
    animation: appear 1s forwards;
}

input.question:invalid ~ input[type="submit"], textarea.question:invalid ~ input[type="submit"] {
    display: none;
}

.userAdd{
 margin-top: 20px;
}

@-webkit-keyframes appear {
    100% {
        opacity: 1;
    }
}

@keyframes appear {
    100% {
        opacity: 1;
    }
}

.submitButton {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 30%;
    height: 70px;
    border-radius: 12px;
    overflow: hidden;
    background: #111111;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
}
