body{
    background: #2575fc;
    background: -webkit-linear-gradient(to right, #3931af, #00c6ff);
    background: -o-linear-gradient(to right, #3931af, #00c6ff);
    background: -moz-linear-gradient(to right, #3931af, #00c6ff);
    background: linear-gradient(to right, #3931af, #00c6ff);
    
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}

.file-upload{
    display: none;
}

.file {
    background-color: gray;
}

.profile-img img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}


.profile-img .file input {
    position: absolute;
    opacity: 0.5;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 18px;
    color: black;
    margin-top: 5%;
}
.proile-rating span{
    color: black;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    height: 600px;
    overflow: scroll;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;  
}

.row{
    height: 600px;
    overflow: hidden;
}

.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

.tab-content>.tab-pane {
    display: none !important;
}

.tab-content>.active {
    display: block !important;
}

.password-group {
    position: relative;
    width: 300px;
}

.password-group > input {
    width: 100%;
}

.password-visibility {
    position: absolute;
    right: 8px;
    top: 2px;
}

.btnRegister {
    outline: none;
    border: none;

    font-size: 15px;
    color: #fff;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;

    margin-top: 7%;
    margin-left: 8%;

    width: 80%;
    height: 50px;
    overflow: hidden;
    background: #111111;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
}

.botong{
    width: 50% !important;
}

.container-register-button{
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    justify-content: center;
}

.btnRegister:hover {
    cursor: pointer;
    background: #2575fc;
    background: -webkit-linear-gradient(right, #3931af, #00c6ff);
    background: -o-linear-gradient(right,#3931af, #00c6ff);
    background: -moz-linear-gradient(right, #3931af, #00c6ff);
    background: linear-gradient(right, #3931af, #00c6ff);
}
.btnRegister:hover:before {

    background: #2575fc;
    background: -webkit-linear-gradient(right, #3931af, #00c6ff);
    background: -o-linear-gradient(right,#3931af, #00c6ff);
    background: -moz-linear-gradient(right, #3931af, #00c6ff);
    background: linear-gradient(right, #3931af, #00c6ff);
}