.container-register{
    /*background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;*/
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;

    background: #2575fc;
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    background: -o-linear-gradient(left, #3931af, #00c6ff);
    background: -moz-linear-gradient(left, #3931af, #00c6ff);
    background: linear-gradient(left, #3931af, #00c6ff);

}

.register{
    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
/*.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}*/


.btnRegister {
    outline: none;
    border: none;

    font-size: 15px;
    color: #fff;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    padding: 2%;
    width: 80%;
    height: 50px;
    overflow: hidden;
    background: #111111;
    margin-top: 10%;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
}


.btnRegister:hover {
    cursor: pointer;
    background: #2575fc;
    background: -webkit-linear-gradient(right, #3931af, #00c6ff);
    background: -o-linear-gradient(right,#3931af, #00c6ff);
    background: -moz-linear-gradient(right, #3931af, #00c6ff);
    background: linear-gradient(right, #3931af, #00c6ff);
}
.btnRegister:hover:before {
    opacity: 1;
}

.container-register-button{
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}

input[type="date"]::-webkit-inner-spin-button {
    opacity: 0
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url(https://icons-for-free.com/iconfiles/png/512/cake-1321215613168069161.png) center/80% no-repeat;
    color: rgba(0, 0, 0, 0);
    opacity: 0.5
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
    background: url(https://icons-for-free.com/iconfiles/png/512/cake-1321215613168069161.png) center/80% no-repeat;
    opacity: 0.8
}