@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.element {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.6%;
    background: #fff;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
}
.element a {
    color: inherit;
}
.element a:hover {
    color: #5ad67d;
}
.element:hover .imatge {
    transform: scale(1.3) rotate(3deg);
}
.element .meta {
    position: relative;
    z-index: 0;
    height: 200px;
}
.element .imatge {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
}
.element .details, .element .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
}
.element .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;
}
.element .details a {
    text-decoration: dotted underline;
}
.element .details ul li {
    display: inline-block;
}
.element .details .tags li {
    margin-right: 2px;
}
.element .details .tags li:first-child {
    margin-left: -4px;
}
.element .textInfo {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
}
.element .textInfo h1, .element .textInfo h2 {
    font-family: Poppins, sans-serif;
}
.element .textInfo h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
}

.center {
    text-align: center;
}

.pagination {
    display: inline-block;
    width: 100%;
    margin-left: 47%;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.titolPagina {
    margin: 0;
    padding: 0;
    display: grid;
    place-content: center;
}
.element .textInfo h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 5px;
}
.element .textInfo .read-more {
    text-align: right;
}
.element .textInfo .read-more a {
    color: blue;
    display: inline-block;
    position: relative;
    text-decoration: none;
}
.element p {
    position: relative;
    margin: 1rem 0 0;
}

.element:hover .details {
    left: 0%;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

.logout-button {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
    width: 200px;
    margin-left: 130px;
}

.logout-button:hover {
    background-color: #f44336;
    color: white;
}


@media (min-width: 640px) {
    .element {
        flex-direction: row;
        max-width: 700px;
    }
    .element .meta {
        flex-basis: 40%;
        height: auto;
    }
    .element .textInfo {
        flex-basis: 60%;
    }
    .element.alt {
        flex-direction: row-reverse;
    }
    .element.alt .details {
        padding-left: 25px;
    }
}

