

.store-list{
    margin-top: 30px;
}

.titol{
    text-align: center;
    margin-top: 3%;
}


.btn-success{
    width: 70% !important;
}

#hola{
    margin-top: 30px;
    transition: all 0.3s ease-in-out;
}


#hola:hover{
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
}

.card-img-top{
    height: 100%;
    transition: all 0.3s linear;
}

.img-container{
    overflow: hidden;
    height: 300px;
}

#hola:hover .card-img-top{  
    transform: scale(1.1) rotate(3deg);
}


.card-footer {
    position: relative;
    display: inline-block;
    overflow: hidden;
    
  }


  
.card-footer > img {
    max-width: 60%;
    max-height: 40px;
    border-radius: 5%;
    background-color: black;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 5px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.fabWallet {
    background: #111111;
    border-radius: 20px;
    color: white;
    font-family: Helvetica, serif;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
}
.fabWallet span{
    color: white;
}

.fabWallet:hover {
    cursor: pointer;
    background: #2575fc;
    background: -webkit-linear-gradient(right, #3931af, #00c6ff);
    background: -o-linear-gradient(right,#3931af, #00c6ff);
    background: -moz-linear-gradient(right, #3931af, #00c6ff);
    background: linear-gradient(right, #3931af, #00c6ff);
}
.fabWallet:hover:before {

    background: #2575fc;
    background: -webkit-linear-gradient(right, #3931af, #00c6ff);
    background: -o-linear-gradient(right,#3931af, #00c6ff);
    background: -moz-linear-gradient(right, #3931af, #00c6ff);
    background: linear-gradient(right, #3931af, #00c6ff);
}


