

.store-list{
    margin-top: 30px;
}

.titol{
    text-align: center;
    margin-top: 3%;
}


.btn-success{
    width: 70% !important;
}

#hola{
    margin-top: 30px;
    transition: all 0.3s ease-in-out;
}


#hola:hover{
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
}

.card-img-top{
    height: 100%;
    transition: all 0.3s linear;
}

.img-container{
    overflow: hidden;
    height: 300px;
}

#hola:hover .card-img-top{  
    transform: scale(1.1) rotate(3deg);
}


.card-footer {
    position: relative;
    display: inline-block;
    overflow: hidden;
    
  }


  
.card-footer > img {
    max-width: 60%;
    max-height: 40px;
    border-radius: 5%;
    background-color: black;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 5px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


