{% extends "base.twig" %}
{% block title %}Bad Request{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/activation.css"/>
{% endblock %}

{% block content %}

<script type="text/javascript">
    var count = 5;
    var redirect = "/";

    function countDown() {
        var timer = document.getElementById("timer");
        if (count > 0) {
            count--;
            timer.innerHTML = "This page will redirect in " + count + " seconds.";
            setTimeout("countDown()", 1000);
        } else {
            window.location.href = redirect;
        }
    }
</script>


<table class="table" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td class="first" border="0" align="center" width="100%">
            <table class="table1" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="row1" align="center" valign="top"> </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="row2" align="center" width="100%">
            <table class="table2" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td class="row4"align="left" width="100%">
                        <table class="table4" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td class="row5" align="center">
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td class="row6" align="center">
                                                <div class="main">
                                                    <p id="timer">
                                                        <script type="text/javascript">
                                                            countDown();
                                                        </script>
                                                    </p>
                                                </div>
                                            </td>


                                        </tr>
                                        <tr>
                                            <p> Bad Request! This Friend Request is not yours! </p>
                                            <p> Click <a href="/">here</a> to be redirected</p>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>

    </tr>
</table>




{% endblock %}