{% extends "base.twig" %}

{% block title %}NOT DONE{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/search.css"/>
{% endblock %}

{% block content %}
    <br>
    <h4>Aquesta pàgina és buida per ara.</h4>
    <h4>En futures fases s'implementará. Existeix simplement per comprovar que l'adreçament funciona correctament. No se li ha aplicat cap middleware per ara</h4>
    <br>
{% endblock %}