{% extends "base.twig" %}

{% block title %}Register{% endblock %}
{% block head %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/styles.css"/>
{% endblock %}

{% block content %}

    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                <h3>Welcome</h3>
                <p>You are about to register in LSteam!</p>
                <a href="login">
                <input type="submit" name="" value="Login"/><br/>
                </a>
            </div>
            <div class="col-md-9 register-right">
                        <h3 class="register-heading">Register</h3>
                        <form action="/register" method="POST" accept-charset="utf-8">
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="username" placeholder="Username *" value="" required/>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password *" value="" required/>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="date" id="birthday" name="birthday" required>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Email *" value="" required/>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control"  placeholder="Confirm Password *" value="" required/>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" id="phone" placeholder="Your Phone" name="phone">
                                </div>
                                <input type="submit" class="btnRegister" value="Register"/>
                            </div>
                        </div>
                        </form>
            </div>
        </div>

    </div>

{% endblock %}
