{% extends "base.twig" %}

{% block title %}Wallet{% endblock %}

{% block head %}
    <!-- Volem aquesta versió de bootstrap en concret per la graella de divs de la wallet. Si s'eliminen aquests headers es perd l'alineament -->
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/wallet.css"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script>
        jQuery(document).ready(function($){
            $('#code').keydown(function(e){
                e.preventDefault();
            });
        });


        function updateWallet(){
            let def = 0;
            document.getElementById("result").style.display = 'none';
            document.getElementById("spinner").style.display = 'block';
            setTimeout(() => {  document.getElementById("spinner").style.display = 'none';
                document.getElementById("result").style.display = 'block';
                let result =parseFloat(document.getElementById('result').value);
                let curr =parseFloat(document.getElementById('code').value);
                if(!isNaN(result) && isNaN(curr)){
                    def = result;
                    console.log("1");
                } else if(isNaN(result) && !isNaN(curr)){
                    def = curr;
                    console.log("2");
                } else if(!isNaN(result) && !isNaN(curr)){
                    def = result + curr;
                    console.log("3");
                }
                console.log(result);
                console.log(curr);
                console.log(def);
                document.getElementById('result').value = def.toString();
                document.getElementById('form-id').submit();
            }, 1500);
        }

    </script>

{% endblock %}
{% block content %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <span class="login100-form-title">
                    <h1 class="display-3">Wallet</h1>
                </span>
                <form id="form-id" method="post" action="/user/wallet">
                <div class="row">
                    <div class="col-md-6">
                        <div class="amount col-md-12">
                            <div class="btn-group-vertical ml-4 mt-4" role="group" aria-label="Basic example">
                                <div class="btn-group">
                                    <input class="text-center form-control-lg mb-2" id="code">
                                </div>
                                <div class="btn-group" style="background: white">
                                    <button type="button" class="btn btn-outline-secondary py-3" onclick="document.getElementById('code').value=document.getElementById('code').value + '1';">1</button>
                                    <button type="button" class="btn btn-outline-secondary py-3" onclick="document.getElementById('code').value=document.getElementById('code').value + '2';">2</button>
                                    <button type="button" class="btn btn-outline-secondary py-3" onclick="document.getElementById('code').value=document.getElementById('code').value + '3';">3</button>
                                </div>
                                <div class="btn-group" style="background: white">
                                    <button type="button" class="btn btn-outline-secondary py-3" onclick="document.getElementById('code').value=document.getElementById('code').value + '4';">4</button>
                                    <button type="button" class="btn btn-outline-secondary py-3" onclick="document.getElementById('code').value=document.getElementById('code').value + '5';">5</button>
                                    <button type="button" class="btn btn-outline-secondary py-3" onclick="document.getElementById('code').value=document.getElementById('code').value + '6';">6</button>
                                </div>
                                <div class="btn-group" style="background: white">
                                    <button type="button" class="btn btn-outline-secondary py-3" onclick="document.getElementById('code').value=document.getElementById('code').value + '7';">7</button>
                                    <button type="button" class="btn btn-outline-secondary py-3" onclick="document.getElementById('code').value=document.getElementById('code').value + '8';">8</button>
                                    <button type="button" class="btn btn-outline-secondary py-3" onclick="document.getElementById('code').value=document.getElementById('code').value + '9';">9</button>
                                </div>
                                <div class="btn-group" style="background: white">
                                    <button type="button" class="btn btn-outline-secondary py-3" onclick="document.getElementById('code').value=document.getElementById('code').value.slice(0, -1);">&#x2190;</button>
                                    <button type="button" class="btn btn-outline-secondary py-3" onclick="document.getElementById('code').value=document.getElementById('code').value + '0';">0</button>
                                    <button type="button" class="btn btn-outline-secondary py-3" onclick="document.getElementById('code').value=document.getElementById('code').value + '00';">00</button>
                                </div>
                                <button type="button" class="button-add btn btn-primary py-3" onclick="updateWallet()">Add to Wallet</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mt-5">
                        <div class="count col-md-12 mt-5">
                            <br>
                            <h5 class="sub-title display-12">Current Amount</h5>
                            <div class="text-center" id="spinner">
                                <div class="spinner-border mt-4"  role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <input name="result" class="text-center form-control-lg mt-3" id="result" value= "{{ data }} €" readonly>
                        </div>
                    </div>
                </div>
                </form>
                <br>
                <hr>
                <br>
                <a href="/store">
                    <input class="loginRedirect" type="submit" name="" value="Go to Store"/><br/>
                </a>
            </div>
        </div>
    </div>
{% endblock %}